<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
<div [ngClass]="{grayBackgound: !isShowMenu}">
    <app-admin-header *ngIf="isShowMenu"></app-admin-header>
    <div class="container">
        <div class="row" style="margin-top: 100px;">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <app-admin-footer *ngIf="isShowMenu"></app-admin-footer>
</div>