<div>
    <div class="button">
        <button type="button" class="btn btn-success" [routerLink]="['/admin/category-init-new']">Thêm</button>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên bản tin</th>
                <th>Tóm tắt</th>
                <th>Ảnh</th>
                <th>Thời gian</th>
                <th>Tùy chọn</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listCategory">
                <td>{{ item.id }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.image }}</td>
                <td>{{ item.timeUpdate }}</td>
                <td>
                    <button type="button" class="btn btn-info" (click)="doGoUpdateCategory(item.id)" >Sửa</button>
                    <button type="button" class="btn btn-danger" (click)="doDeleteCategory(item.id)" >Xóa</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
