<footer class="page-footer text-center font-small primary-color-dark darken-2 mt-4 wow fadeIn">

    <!--Call to action-->
    <div class="pt-4">
      <a class="btn btn-outline-white" href="https://mdbootstrap.com/docs/jquery/getting-started/download/"
        target="_blank" role="button">Download
        MDB
        <i class="fas fa-download ml-2"></i>
      </a>
      <a class="btn btn-outline-white" href="https://mdbootstrap.com/education/bootstrap/" target="_blank"
        role="button">Start
        free tutorial
        <i class="fas fa-graduation-cap ml-2"></i>
      </a>
    </div>
    <!--/.Call to action-->
  
    <hr class="my-4">
  
    <!-- Social icons -->
    <div class="pb-4">
      <a href="https://www.facebook.com/spk101" target="_blank">
        <i class="fab fa-facebook-f mr-3"></i>
      </a>
  
      <a href="https://twitter.com/pqcuong1995" target="_blank">
        <i class="fab fa-twitter mr-3"></i>
      </a>
  
      <a href="https://www.youtube.com" target="_blank">
        <i class="fab fa-youtube mr-3"></i>
      </a>
  
      <a href="https://google.com" target="_blank">
        <i class="fab fa-google-plus mr-3"></i>
      </a>
  
      <a href="https://dribbble.com" target="_blank">
        <i class="fab fa-dribbble mr-3"></i>
      </a>
  
      <a href="https://pinterest.com" target="_blank">
        <i class="fab fa-pinterest mr-3"></i>
      </a>
  
      <a href="https://github.com/pqcuong1995@gmail.com" target="_blank">
        <i class="fab fa-github mr-3"></i>
      </a>
  
      <a href="http://codepen.io" target="_blank">
        <i class="fab fa-codepen mr-3"></i>
      </a>
    </div>
    <!-- Social icons -->
  
    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2019 Copyright:
      <a  target="_blank"> Cuongpq</a>
    </div>
    <!--/.Copyright-->
  
  </footer>