<div class="form_container form_customs">
    <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
        <header>Đăng nhập </header>
        <label>Username <span>*</span></label>
        <input type="text" name="uname" formControlName="uname" [ngClass]="{'onShowError': loginStatus===1}" />

        <div class="help">Ít nhất 6 kí tự <p class="onTextError" *ngIf="loginStatus===1">Username is not exit!</p>
        </div>
        <label>Mật khẩu <span>*</span></label>
        <input type="password" class="fortextbox" name="passwd" formControlName="passwd"
            [ngClass]="{'onShowError': loginStatus===2}" />

        <div class="help">Phân biệt hoa thường <p class="onTextError" *ngIf="loginStatus===2">Password invalid!</p>
        </div>
        <button [disabled]="!formdata.valid" value="Login">Đăng nhập</button>
    </form>
</div>