<form [formGroup]="itemNew" (ngSubmit)="doSaveNew(itemNew.value)" >
    <table class="table table-light">
        <tbody>
            <tr>
                <td style="width: 100px;">Tên</td>
                <td><input class="form-control" formControlName="title" type="text" name="title"></td>
            </tr>
            <tr>
                <td>Tóm tắt</td>
                <td><input class="form-control" formControlName="description"  type="text" name="description"></td>
            </tr>
            <tr>
                <td>Ảnh</td>
                <td><input class="form-control"  type="file" name=""></td>
            </tr>
            <tr>
                <td>Nội dung</td>
                <td>
                    <textarea name="" id="content" formControlName="content"  class="form-control" rows="3" required="required"></textarea>
                </td>
            </tr>
            <tr>
                <td>Danh mục</td>
                <td>
                    <select name="" id="input" class="form-control" formControlName="category"  required="required">
                        <option [value]="null">Chọn danh mục</option>
                        <option [value]="item.id" *ngFor="let item of listCategory" [selected]="itemInfo ?  'selected': ''" >{{item.title}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input class="btn btn-success" type="submit" name="" value="Lưu"></td>
            </tr>
        </tbody>
    </table>
</form>