<header>

  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container-fluid">

      <!-- Brand -->
      <a class="navbar-brand waves-effect" href="" target="_blank">
        <strong class="blue-text">AN PHÁT</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link waves-effect" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="" target="_blank">About CuongPQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href=""
              target="_blank">Free download</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="" target="_blank">Free
              tutorials</a>
          </li>
        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a href="https://www.facebook.com/mdbootstrap" class="nav-link waves-effect" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://twitter.com/MDBootstrap" class="nav-link waves-effect" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="nav-item" (click)="(onVisibleLogout())">
            <a class="nav-link border border-light rounded waves-effect" target="_blank">
              <img
                src="https://cdn1.tuoitre.vn/zoom/600_315/2019/5/8/avatar-publicitystill-h2019-1557284559744252594756-crop-15572850428231644565436.jpg"
                width="40px" height="20px">MDB GitHub
            </a>
            <a class="btn_logout" (click)="doLogout()" [ngClass]="{isVisibleLogOut: isVisibleLogOut}">Đăng xuất</a>
          </li>
        </ul>

      </div>

    </div>
  </nav>
  <!-- Navbar -->

  <!-- Sidebar -->
  <div class="sidebar-fixed position-fixed">

    <a class="logo-wrapper waves-effect">
      <img src="assets/imgs/logoanphat.png" class="img-fluid" alt="">
    </a>

    <div class="list-group list-group-flush">
      <a class="list-group-item active waves-effect" [ngClass]="{active: doSetBackgroundMenu===1}"
        (click)="onSetBackground(1)" [routerLink]="['/admin/dashboard']" routerLinkActive="router-link-active">
        <i class="fas fa-chart-pie mr-3"></i>Dashboard
      </a>
      <a class="list-group-item list-group-item-action waves-effect" [ngClass]="{active: doSetBackgroundMenu===2}"
        (click)="onSetBackground(2)" [routerLink]="['/admin/admin-news']" routerLinkActive="router-link-active">
        <i class="fas fa-user mr-3"></i>Danh sách tin tức</a>
      <a class="list-group-item list-group-item-action waves-effect" [routerLink]="['/admin/category-new']" routerLinkActive="router-link-active"  [ngClass]="{active: doSetBackgroundMenu===3}"
        (click)="onSetBackground(3)">
        <i class="fas fa-table mr-3"></i>Danh mục tin tức</a>
      <a class="list-group-item list-group-item-action waves-effect" [ngClass]="{active: doSetBackgroundMenu===4}"
        (click)="onSetBackground(4)">
        <i class="fas fa-map mr-3"></i>Maps</a>
      <a class="list-group-item list-group-item-action waves-effect" [ngClass]="{active: doSetBackgroundMenu===5}"
        (click)="onSetBackground(5)">
        <i class="fas fa-money-bill-alt mr-3"></i>Orders</a>
    </div>

  </div>
  <!-- Sidebar -->

</header>