.btn_logout{
    border: solid 1px #ddd;
    width: 100%;
    text-align: center;
    display: inline-block;
    padding: 0 15px;
    
}
.isVisibleLogOut{
    visibility: hidden;
}
header{
    height: 50px;
}
.sidebar-fixed .logo-wrapper{
    padding: 15px 0;
    width: 100%;
    text-align: center;
}
.sidebar-fixed .logo-wrapper img{
    max-height: 90px;
}
.active{
    color: #fff !important;
}
.list-group-item{
    color: #000;
}
.navbar.scrolling-navbar{
    margin-left: 275px;
}