/* You can add global styles to this file, and also import other style files */
@import './assets/css/bootstrap.min.css';
@import './assets/admin/css/mdb.lite.min.css';
@import './assets/admin/css/styleadmin.min.css';
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~angular-notifier/styles";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.ck-editor__editable_inline {
    min-height: 500px;
}